.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4); /* bg-black/40 */
  z-index: 1;
}

.content {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 10;
  outline: none;
  width: 350px;
  display: flex;
}

.container {
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 1.25rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  justify-content: space-between;
}

.title {
  font-weight: 500; /* font-medium */
  margin-bottom: 1rem; /* mb-2 */
  color: #18181b; /* text-zinc-900 */
}

.description {
  color: #52525b; /* text-zinc-600 */
  margin-bottom: 0.5rem; /* mb-2 */
}

.total {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-top: 1px dashed gray;
  padding-top: 20px;
  justify-content: space-between;
}

.printButton {
  height: 48px;
  width: 100%;
  background-color: #5e3b26;
  color: white;
  font-weight: bold;
}


.error {
  color: red;
  text-align: center;
  margin-bottom: 8px;
}