
.filterPanel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    background-color: #fff9db;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
  }
  
  .filterItem {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: auto;
  }
  
  .filterItem label {
    font-size: 10px;
    color: #8a6d3b;
    white-space: nowrap; 
  }
  
  .filterInput, .filterSelect {
    padding: 0.2rem 0.3rem;
    font-size: 10px;
    color: #8a6d3b;
    background-color: #fff4cc;
    border: 1px solid #e1c775;
    border-radius: 3px;
    width: 100px; 
    box-sizing: border-box;
  }
  
  .filterSelect {
    cursor: pointer;
  }
  
  .filterInput:focus, .filterSelect:focus {
    outline: none;
    box-shadow: 0 0 2px #d9b44a;
  }
  

  .filterRange {
    display: flex;
    gap: 0.3rem;
  }
  
  .applyButton {
    padding: 0.3rem 0.6rem;
    font-size: 10px;
    background-color: #f5d36b;
    border: 1px solid #e1c775;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
  }
  