.sortMenu {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 6px;
}

.sortLabel {
  color: #8a6d3b;
}

.sortSelect {
  padding: 8px 12px;
  font-size: 13px;
  color: #ffffff;
  background-color: #363636;
  border: 1px solid #696969;
  border-radius: 10px;
  cursor: pointer;
}

.sortSelect:hover {
  background-color: #292929;
}

.sortSelect:focus {
  outline: none;
  box-shadow: 0 0 3px #292929;
}
