.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 24px;
}

@media screen and (max-width: 1920px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1440px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1336px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 776px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
