.filterPanel {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #fdf5e6; 
  border-radius: 10px; 
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.filterField {
  margin-bottom: 20px;
}

.filterLabel {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
}

.filterInput {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.slider {
  margin-top: 10px;
}

.sliderValues {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}

.dropdown {
  width: 100%;
}

.dropdownControl {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  color: #4a4a4a;
  cursor: pointer;
}

.dropdownMenu {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 1000;
}

.dropdownControl:hover,
.filterInput:focus {
  border-color: #ffd700; 
  outline: none;
}

.dropdownMenu .Dropdown-option:hover {
  background-color: #f9e7c9; 
}

.rc-slider-track {
  background-color: #ffd700; 
  height: 5px;
}

.rc-slider-handle {
  width: 16px;
  height: 16px;
  border: 2px solid #ffd700;
  background-color: white;
  cursor: pointer;
}

.rc-slider-handle:focus {
  border-color: #ffbf00; 
  box-shadow: 0 0 5px #ffbf00;
}

.rc-slider-rail {
  background-color: #ddd;
  height: 5px;
}
